<div class="container-fluid">

    <div class="row">
        <h1 class="page-header text-center"><span class="fa fa-arrows-v"></span> User Arrivals and Departures</h1>
    </div>

    <div id="main_content" class="row">

        <div id="controls_view" class="col-sm-3">
			<div class="panel panel-primary">

				<div class="panel-heading">
				    <h3 class="panel-title">Query Builder</h3>
				</div>

				<div class="panel-body">
				    <form>
				        <div class="form-group">
				            <label for="">Select User</label>
				            <select id="user_list" class="form-control"></select>
				        </div>

				        <div class="pull-right">
				            <div class="btn-group-lg" role="group" aria-label="...">
				                <button id="table_button" type="button" class="btn btn-warning">
				                    <span class="fa fa-table"></span>
				                </button>
				                <button id="graph_button" type="button" class="btn btn-success">
				                    <span class="fa fa-bar-chart-o"></span>
				                </button>
				            </div>
				        </div>

				    </form>
				</div>

			</div>
        </div>

        <div id="container1" class="col-sm-9">

            <div id="table_view1" style="display: none">
				<table id="table_view_content" class="table table-striped">
				    <tr>
				        <th class="text-center">User Identity</th>
				        <th class="text-center">Number of Arrivals</th>
				        <th class="text-center">Number of Departures</th>
				    </tr>
				</table>
            </div>

            <div id="data_view1"></div>

        </div>

    </div>

</div>

<script type="text/javascript" charset="utf-8">

	var categories = [];
	var series = [];

	$(document).ready(function()
    {

	    $("#table_button").click(function(){
		    $('#data_view1').hide();
		    $('#table_view1').show();
            updateStat();


	    });

	    $("#graph_button").click(function(){
		    $('#table_view1').hide();
		    $('#data_view1').show();
            updateStat();
	    });

		var userList = $("#user_list");

		var arrivalObject = {
			name: 'Arrivals',
			data: []
		};
		var departureObject = {
			name: 'Departures',
			data: []
		};

        <%
               @users.each { |user|
                        %>
                    userList.append("<option value='<%=user.id%>'><%=user.name%></option>");
                        <%

                }
        %>

		$.ajax({
			url: '/user_traffics/list?userid=1',
			method: 'GET',
			success: function(data)
			{
				// Add the all users option to the user list.
				//userList.append("<option value='All Users'>All Users</option>");
                <%
                    @users.each { |user|
                        %>
                            userList.append("<option value='<%=user.id%>'><%=user.name%></option>");
                        <%

                    }
                 %>
                console.log(data);

                $('#table_view_content').append('<tr class="userrow"><td>' + data.name+'</td><td>'+data.arrival_traffic + '</td><td>' +  data.departure_traffic +'</td></tr>');
                arrivalObject.data.push(data.arrival_traffic);
                departureObject.data.push(data.departure_traffic);

				// Add the data of the series to their corresponding objects
				series.push(arrivalObject);
				series.push(departureObject);

				// Get all the users and print the graph.
				drawUserTrafficGraph(categories,series);

				// Attach listener to the user list.
				userList.change(function()
                {
					var value = userList.val();

					if(value == 'All Users')
						drawUserTrafficGraph(categories,series);
					else
					{
						for(var i in data)
						{
							if(data[i].name == value)
							{
								var cat = [value];
								var ser = [
									{
										name: 'Arrival',
										data: [data.arrival_traffic]
									},
									{
										name: 'Departure',
										data: [data.departure_traffic]
									}
								];

								// Draw the Graph using the names and the data.
								drawUserTrafficGraph(cat,ser);
							}
						}
					}
				});
			}
		});
    });

	function drawUserTrafficGraph(categories, series)
	{
		$('#data_view1').highcharts({

			// Chart options.
			chart:
			{
				type: 'column'
			},

			// Chart Title.
			title:
			{
				text: 'Employees Total Traffic'
			},

			// X-axis options.
			xAxis:
			{
				min: 0,
				max: 10,
				// Enter the user names here.
				categories: categories
			},

			scrollbar: {
				enabled: true
			},

			// Y-Axis options.
			yAxis:
			{
				min: 0,
				title:
				{
					text: 'Number of Arrivals/Departures'
				},
				stackLabels:
				{
					enabled: true,
					style:
					{
						fontWeight: 'bold',
						color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
					}
				}
			},

			legend:
			{
				align: 'right',
				x: -30,
				verticalAlign: 'top',
				y: 25,
				floating: true,
				backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
				borderColor: '#CCC',
				borderWidth: 1,
				shadow: false
			},

			tooltip:
			{
				formatter: function ()
				{
					return '<b>' + this.x + '</b><br/>' +
					       this.series.name + ': ' + this.y + '<br/>' +
					       'Total: ' + this.point.stackTotal;
				}
			},

			plotOptions:
			{
				column: {
					stacking: 'normal',
					dataLabels: {
						enabled: true,
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
						style: {
							textShadow: '0 0 3px black'
						}
					}
				}
			},

			series: series
		});
	}
    function updateStat(){
        var userList = $("#user_list");
        var selectedUser = userList.val();

        var categories = [];
        var series = [];

        var arrivalObject = {
            name: 'Arrivals',
            data: []
        };
        var departureObject = {
            name: 'Departures',
            data: []
        };


        $.ajax({
            url: '/user_traffics/list?userid='+selectedUser,
            method: 'GET',
            success: function(data)
            {
                // Add the all users option to the user list.
                //userList.append("<option value='All Users'>All Users</option>");
                $('.userrow').remove();
                $('#table_view_content').append('<tr class="userrow"><td>' + data.name+'</td><td>'+data.arrival_traffic + '</td><td>' +  data.departure_traffic +'</td></tr>');

                arrivalObject.data.push(data.arrival_traffic);
                departureObject.data.push(data.departure_traffic);

                // Add the data of the series to their corresponding objects
                series.push(arrivalObject);
                series.push(departureObject);

                // Get all the users and print the graph.
                drawUserTrafficGraph(categories,series);

                // Attach listener to the user list.
                userList.change(function()
                {
                    var value = userList.val();

                    if(value == 'All Users')
                        drawUserTrafficGraph(categories,series);
                    else
                    {
                        for(var i in data)
                        {
                            if(data[i].name == value)
                            {
                                var cat = [value];
                                var ser = [
                                    {
                                        name: 'Arrival',
                                        data: [data.arrival_traffic]
                                    },
                                    {
                                        name: 'Departure',
                                        data: [data.departure_traffic]
                                    }
                                ];

                                // Draw the Graph using the names and the data.
                                drawUserTrafficGraph(cat,ser);
                            }
                        }
                    }
                });
            }
        });


    }
</script>