<div class="container-fluid">

    <div class="row">
        <h1 class="page-header text-center"><span class="fa fa-arrows-v"></span> User Arrivals and Departures</h1>
    </div>

    <div id="main_content" class="row">

        <div id="controls_view" class="col-sm-3">
			<div class="panel panel-primary">

				<div class="panel-heading">
				    <h3 class="panel-title">Panel title</h3>
				</div>

				<div class="panel-body">
				    <form>
				        
				        <div class="form-group">
				            <label for="">Select User</label>
				            <select class="form-control">
				                <option value="">TEST</option>
				                <option value="">TEST</option>
				                <option value="">TEST</option>
				                <option value="">TEST</option>
				            </select>
				        </div>
				      
				    </form>
				</div>

			</div>
        </div>

        <div id="data_view" class="col-sm-9">

        </div>

    </div>

</div>