// Place all the styles related to the user_traffics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_content
{

}

#data_view::before
{
	content: '';
  	height: 100%;
  	width: 4px;
  	background: #d7e4ed;
  	position: absolute;
  	top: 0px;
  	left: 0px;
}

#data_view
{
  	height: 700px;
}